# Set author for Git commits.
#export GIT_AUTHOR_NAME="User"
#export GIT_AUTHOR_EMAIL="email@localhost"
#export GIT_COMMITTER_NAME="$GIT_AUTHOR_NAME"
#export GIT_COMMITTER_EMAIL="$GIT_AUTHOR_EMAIL"

# Same, but through configuration variables and enable signing.
#export GIT_CONFIG_COUNT=4
#export GIT_CONFIG_KEY_0="commit.gpgsign"
#export GIT_CONFIG_VALUE_0="true"
#export GIT_CONFIG_KEY_1="user.name"
#export GIT_CONFIG_VALUE_1="$GIT_AUTHOR_NAME"
#export GIT_CONFIG_KEY_2="user.email"
#export GIT_CONFIG_VALUE_2="$GIT_AUTHOR_EMAIL"
#export GIT_CONFIG_KEY_3="user.signingkey"
#export GIT_CONFIG_VALUE_3="FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF"
